@model WebBroasteria.Models.Categorium

@{
    ViewData["Title"] = "Detalle Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle de Categoria</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Descripcion</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd> 
        <dt class = "col-sm-2">Usuario Registro</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioRegistro)
        </dd>
        <dt class = "col-sm-2">Fecha Registro</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><i class="fa fa-edit"></i> Editar</a> |
    <a asp-action="Index"><i class="fa fa-arrow-left"></i> Volver a la lista</a>
</div>
