@model WebBroasteria.Models.Categorium

@{
    ViewData["Title"] = "Editar Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Categoria</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label  class="control-label">Descripcion</label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div><br/>
            <input type="hidden" asp-for="UsuarioRegistro" />
            <input type="hidden" asp-for="FechaRegistro" />
            <input type="hidden" asp-for="Estado" />

            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fa fa-arrow-left"></i> Volver a la lista</a>
</div>

